<h1>Index</h1>

<% @employee.each do |e| %>
	<%= e.name %>
	<%= e.gender %>
	<%= e.email %>
	<%= e.password %>
	<%= e.joining_date %>
	<%= link_to 'Preview', preview_employee_path(e) %>
	<br>
<% end %>