<h1>Hello, Rails!</h1>


<%= link_to 'My Blog', admin_articles_path %>

<%= raw "<strong> strong </strong>" %>

<br>
<%= link_to 'Employee Form', new_employee_path %>
<br>
<%= link_to 'All Employees', employees_path %>
<br>
<%= link_to 'User Form', new_user_path %>
<br>
<%= link_to 'Post', posts_path %>