<%= form_for @post, html: { multipart: true } do |f| %>

	<p>
	<%= f.label :title %>
	<%= f.text_field :title %>
	</p>

	<p>
	<%= f.label :body %>
	<%= f.text_area :body %>
	</p>

	<div class="file-field input-field">
		<div class="btn">
		<p>
		<%= f.file_field :image %>
		</p>
		</div>
	</div>
	<p>
	<%= f.submit %>
	</p>

<% end %>