<div class="nested-fields">
	<div class="row">
		<div class="input-field col s6">
		  <%= f.label :city %>
		  <%= f.text_field :city%>
		</div>

		<div class="input-field col s6">
		  <%= f.label :street %>
		  <%= f.text_field :street%>
	  	</div>
	  <%= f.check_box :_destroy %>

	  <%= link_to_remove_association "remove address", f %>
	</div>
</div>